Architecture: iphoneos-arm64e
Package: 
Name: 
Version: 
Depiction: https:///depiction/web/.html
SileoDepiction: https:///depiction/native/.json
ModernDepiction: https:///depiction/native/.json
Icon: https:///assets//icon.png
Homepage: https://tweaksdev22.github.io/
Section: Themes
Tags: compatible_min::ios15.0, compatible_max::ios15.5
Author: TweaksDev22 <Tweaksdev22@gmail.com>
Maintainer: TweaksDev22 <Tweaksdev22@gmail.com>
Sponsor: TweaksDev22 <Tweaksdev22@gmail.com>
Tag: role::enduser
SomeOtherEntryToControl: True
